In [13]:
x = " hello world "

In [14]:
x

' hello world '

In [15]:
x = x + 'it is beautiful outside'

In [16]:
x

' hello world it is beautiful outside'

In [17]:
type(x)

str

In [18]:
letter ="z"

In [19]:
letter

'z'

In [20]:
letter + '10'

'z10'

In [21]:
x.upper()

' HELLO WORLD IT IS BEAUTIFUL OUTSIDE'

In [22]:
x = x.upper()

In [23]:
x.lower()

' hello world it is beautiful outside'

In [24]:
x.split()

['HELLO', 'WORLD', 'IT', 'IS', 'BEAUTIFUL', 'OUTSIDE']

In [26]:
x.split("O")

[' HELL', ' W', 'RLD IT IS BEAUTIFUL ', 'UTSIDE']

In [27]:
my_name = 'pavas'
print ('hello my name is' + pavas )

NameError: name 'pavas' is not defined

In [28]:
my_name = 'pavas'
print ('hello my name is' + my_pavas )

NameError: name 'my_pavas' is not defined

In [29]:
=a + b

SyntaxError: invalid syntax (4052149526.py, line 1)

In [30]:
my_name = 'pavas'

In [31]:
print ( 'hello my name is + my_pavas')

hello my name is + my_pavas

In [32]:
my_name = 'pavas'
print ('hello my name is' + pavas )

NameError: name 'pavas' is not defined

In [33]:
print('this is a string{}'.format('inserted'))

this is a stringinserted

In [34]:
result = 100/77

In [35]:
result

1.2987012987012987

In [36]:
print('the result is (r:1.5f)'.format{r=result})

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (622997412.py, line 1)

In [37]:
a=1000
b=5000
c=77
res=(a+b)/c
print('the result is {r:1.3f}'.format(r=ros)')

SyntaxError: unterminated string literal (detected at line 5) (3746111280.py, line 5)

In [38]:
#formatted string literals

In [39]:
name = 'pavas'

In [41]:
print(f'my name is {name}')

my name is pavas

In [42]:
print('his name is {}'.format(name))

his name is pavas

In [45]:
print( f'{name} is 40 year old')

pavas is 40 year old

In [46]:
word = "c"

In [47]:
x.split()

['HELLO', 'WORLD', 'IT', 'IS', 'BEAUTIFUL', 'OUTSIDE']

In [48]:
word=c

NameError: name 'c' is not defined

In [49]:
word

'c'

In [50]:
s1=hello
s2=i am a
s3=python programmer

SyntaxError: invalid syntax (307933737.py, line 2)

In [57]:
s1= 'hello '
s2= 'i am a'
s3= ' python programmer'

In [56]:
s1+s2+s3

'hello  i am a python programmer'

In [58]:
x.upper()

' HELLO WORLD IT IS BEAUTIFUL OUTSIDE'

In [59]:
x."the quick brown fox"

SyntaxError: invalid syntax (774640227.py, line 1)

In [60]:
name = 'pavas'

In [61]:
print(f'my name is {name}')

my name is pavas

In [62]:
print('i am {}'.format(name))

i am pavas

In [64]:
print( f'{name} is 19 year old')

pavas is 19 year old

In [65]:
print(f'{john}is 25 year old')

NameError: name 'john' is not defined

In [66]:
name = 'john'

In [67]:
print( f'{john} is 25 year old')

NameError: name 'john' is not defined

In [68]:
name = 'john'

In [69]:
print(f'my name is {name}')

my name is john

In [70]:
print('i am {}'.format(name))

i am john

In [71]:
print( f'{name} is 25 year old')

john is 25 year old

In [72]:
string

NameError: name 'string' is not defined

In [73]:
string/

SyntaxError: invalid syntax (2268535891.py, line 1)

In [74]:
|string= "i love programming in python"

SyntaxError: invalid syntax (1833105637.py, line 1)

In [75]:
string= 'programming'

In [76]:
string="i love programming in python"

In [105]:
result = 100/4

In [106]:
result

25.0

In [107]:
pie=100/22

In [108]:
p

NameError: name 'p' is not defined

In [109]:
pie = 100/22

In [110]:
p

NameError: name 'p' is not defined

In [111]:
print='pie.4'

In [112]:
p=

SyntaxError: invalid syntax (358919165.py, line 1)